<style>
    #image{
        background-image: url('/images/background.jpg');
            background-position: center;
    background-repeat: no-repeat;
    {{!-- background-size: cover; --}}

    }
</style>
</head>
{{> index-navbar}}
<div style="height: 25%"></div>
<div class="ui right floated basic segment" id="image" style="width: 60% !important; height: 70% !important"></div>
<h1 class="ui header" style="margin: 10%">
Collaborative Learning Effective Teaching
</h1>
