<div class="pusher">
    <div class="ui text disabled loader" id="loader">Loading</div>
    <p class="height-same"></p>
    <div class="ui padded basic segment main-screen">
{{#if profile}}
     <h3 class="ui header">User Profile</h3>
     <p>Coming Soon :)</p>
    {{else}}
    {{> whiteboard}}
{{/if}}
    </div>
</div>
