<div class="ui top fixed demo menu" style="z-index: 200 !important">
    <div class="item">
        <img src="/images/logo.png">
    </div>
    <div class="item"> Course Care</div>

    {{!-- <a class="item">About</a>
    <a class="item">Testimonials</a> --}}
    <div class="right secondary menu">
 <div class="item">
    Try as:
  </div>
 <div class="item" >
    <a class="ui button" href="/tutor/register">Teacher</a>
  </div>
  <div class="item" >
    <a class="ui button" href="/student/register">Student</a>
  </div>
    </div>
</div>
{{!-- <script>
    function(){

    }
</script> --}}
