<div class="ui modal">
  <div class="ui very padded basic segment">
    <div class="ui form">
      <div class="field">
        <label>Username or email</label>
        <div class="ui left icon input">
          <input type="text" placeholder="Username or email">
          <i class="user icon"></i>
        </div>
      </div>
      <div class="field">
        <label>Password</label>
        <div class="ui left icon input">
          <input type="password">
          <i class="lock icon"></i>
        </div>
      </div>
      <div class="ui blue submit button">Login</div>
    </div>
  </div>
</div>
