<div class="ui top fixed demo menu" style="z-index: 200 !important">
    <div class="item">
        <img src="/images/logo.png">
    </div>
    <a class="item">About</a>
    <a class="item">Testimonials</a>
    <div class="right menu">
        <div class="item">
            <div class="ui action input">
                <input type="text" placeholder="Navigate to...">
                <div class="ui button">Go</div>
            </div>
        </div>
        <a class="ui item">
            <img class="ui avatar image" src="/images/avatar/rachel.png">
        </a>
    </div>
</div>
