<div class="ui basic segment" style="width: 50% !important">
    <form action="/course/register">
        <div class="ui form">
            <div class="field">
                <label>Course Id</label>
                <div class="ui left input">
                    <input type="text" placeholder="" name="username" value="{{courseId}}">
                </div>
            </div>
            <div class="field">
                <label>Password</label>
                <div class="ui left icon input">
                    <input type="password" name="password">
                    <i class="lock icon"></i>
                </div>
            </div>
            <input type="submit" class="ui blue submit button" value="Register">
        </div>
    </form>
</div>
