<h3 class="ui header">Whiteboard</h3>
<canvas class="whiteboard" id="whiteboard"></canvas>
{{#ifeq role "tutor"}}
<div class="colors">
    <div class="color black"></div>
    <div class="color red"></div>
    <div class="color green"></div>
    <div class="color blue"></div>
    <div class="color yellow"></div>
    <button class="ui button" id="clearbutton">
        Clear
    </button>
</div>
    <script src="/js/whiteboard.js"></script>
{{else}}
    <script src="/js/whiteboard-client.js"></script>
{{/ifeq}}
